name: Run Python Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      VM_USERNAME         : ${{ secrets.VM_USERNAME          }}
      VM_PASSWORD         : ${{ secrets.VM_PASSWORD          }}
      VSPHERE_HOST        : ${{ secrets.VSPHERE_HOST         }}
      VSPHERE_USERNAME    : ${{ secrets.VSPHERE_USERNAME     }}
      VSPHERE_PASSWORD    : ${{ secrets.VSPHERE_PASSWORD     }}
      COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -e .

      - name: Validate Credentials
        run: |
          pytest tests/unit/helpers/test_Sdk_User.py -v
      - name: Run tests with pytest
        run: |
          pytest -v --durations=0 --cov=k8_vmware tests
          coveralls
